.display-infor-container {
    .red {
        color: red
    }

    .green {
        color: green
    }

    .box {
        background-color: rgb(149, 255, 0);
        color: blue;
        border-radius: 10px;
    }

    img {
        height: 500px;
        width: 500px;
        display: block;
        margin: 0 auto;
    }
}