.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            height: 40px;
            z-index: 10;
            background-color: rgb(143, 127, 127) !important;

            .nav-link {
                color: rgb(51, 51, 51);

                &.nav-link:hover {
                    color: rgb(0, 26, 255);
                }

                &.active {
                    color: red;
                    font-weight: bold;

                }
            }

            .FaBars {
                height: 30px;
                width: 30px;

            }

        }

        .admin-main {

            .user-pagination {
                display: flex;
                justify-content: center;
            }
        }
    }
}